<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Test Suite" parallel="false">
    <test name="UI Tests">
        <classes>
            <class name="com.qa.FileUploadTest"/>
            <class name="com.qa.LoginTest"/>
            <class name="com.qa.TestDynamicTable"/>
            <class name="com.qa.TestJavaScriptAlerts"/>
        </classes>
    </test>
</suite>